@import url('https://content.powerapps.com/resource/powerappsportal/fonts/open-sans/v34/400.css');
@import url('https://content.powerapps.com/resource/powerappsportal/fonts/open-sans/v34/400-italic.css');
